/* .orders-page {
    padding: 20px;
  }
  
  .tabs {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
  }
  
  .tab-button {
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    color: black;
  }
  
  .tab-button.active {
    border-bottom: 2px solid orange;
  }
  
  .orders-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .search-orders input {
    padding: 5px;
    font-size: 14px;
  }
  
  .search-orders button {
    padding: 5px 10px;
  }
  
  .orders-list {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 10px;
    position: relative;
  }
   .order-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    background-color: #f9f9f9;
   }
  
  .prime-banner {
    background-color: #f7f7f7;
    padding: 20px;
    text-align: center;
  }
  /* .order-details-link {
    position: absolute;
    left: 50%; 
    right: 0; /* Aligns the link to the far right 
    top: 50%; /* Vertically centers the link 
    transform: translateY(-50%); /* Adjusts for centering 
  } 
  .order-details-link {
display: flex;
    justify-content: flex-end; /* Aligns the link to the far right 
    margin-left: auto;
  }
  .order-details-link a {
    text-decoration: none;
    color: #007bff; /* Style link color 
  }
  
  .order-details-link a:hover {
    text-decoration: underline;
  }
   */