/* Container 3 Layout */
.container3 {
  width: 100%;
  margin-top: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 50PX;
}
.category-section{
  width: 95%;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;

}

.product-heading{
  background-color:#007bff;
}
/* Carousel Container holds buttons and items */
.carouselContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
}
/* Holds the actual content */
.carouselContent {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 2px;
}
/* hide scrollbar */
.carouselContent::-webkit-scrollbar {
  display: none;
}
.carouselContent {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Carousel Items */
.item {
  min-width: 200px;
  max-width: 220px;
  text-align: center;
  background-color: #f8f8f8;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.item p {
  margin: 10px 0;
  color: #333;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.item .hover-text {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  height: 1.5em;
  transition: all 0.3s ease;
}

.item:hover .hover-text {
  white-space: normal;
  height: auto;
}

.item:hover {
  transform: scale(1.05);
  cursor: pointer;
}



/* Scroll Buttons */
.scrollBtn,
.cont-scrollBtn {
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.scrollBtn.left,
.cont-scrollBtn.left {
  left: 0;
}

.scrollBtn.right,
.cont-scrollBtn.right {
  right: 0;
}
/* Responsive Adjustments */
@media (max-width: 768px) {
  .outer-container {
    flex-direction: column;
    align-items: center;
  }

  .container1,
  .sidebar {
    width: 100%;
  }

  .productItem {
    flex-direction: column;
    align-items: center;
  }

  .carouselContainer {
    padding: 10px 0;
  }

  .item {
    max-width: 100%;
  }
}